<?xml version="1.0" encoding="utf-8"?>
<!--指定数据库连接字符串（名称/值对的形式）的集合。-->
<connectionStrings>
  <add name="Connection String" connectionString="5CC10A78B159F6E6024BAF030F4D6FACA1B70546B9F59EAFCCD8B981302535479BD7DAB5204397C1DDA4153AFBF8D75B8E4B219B0838952AAD0005DFD77BE0E86D06C351F65BBA479FCEB808D552E58D60B892E6D29731DEBBD655CF2778E3F2BE2834FD41BC902FC6D5B49F217D7B8D" providerName="System.Data.SqlClient" />
  <add name="Plug Connection String" connectionString="Data Source=(local);Initial Catalog=kingdee;User ID=kingdee;Password=kingdee" providerName="System.Data.SqlClient" />
  <add name="OraConnection String" connectionString="Data Source=ZoomLa;User ID=zoomla;Password=zoomla" providerName="System.Data.OracleClient" />
</connectionStrings>